.studentcontainer {
  display: flex;
  align-content: center;
  justify-content: center;
}

.student {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 5px;
  text-align: center;
}

img {
  max-height: 128px;
}

.button {
  margin: 12px 5px
}
.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
